* {
  margin: 0;
  padding: 0;
}
.container {
  width: 350px;
}
.container button {
  width: 350px;
  padding: 7px 0;
  background-color: #232f3e;
  color: #dddddd;
  border: none;
}
.container p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: medium;
}
.sign {
  display: flex;
}
.sign .con {
  margin-left: 20px;
}
.container h3 {
  color: black;
  font-size: 18px;
  margin-top: 30px;
}
.container ul:not(.last) {
  border-bottom: 1px solid #dddddd;
}
.container ul li {
  list-style: none;
  line-height: 40px;
}
.container ul li a {
  text-decoration: none;
  color: rgb(61, 58, 58);
  font-size: 13px;
}
.left {
  margin-top: 10px;
}
.container ul {
  margin-left: 25px;
}
.container ul li:hover {
  background-color: #dddddd;
}
.container img {
  width: 18px;
  height: 12px;
  margin-right: 10px;
}
.wo {
  margin-top: 3px;
  padding-right: 10px;
}
.both {
  display: flex;
}
